html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

main {
  width: 800px;
  margin: 0 auto;
  color: white;
  font-weight: bold;
}

.parent-box {
  font-size: 0;
}

.boxes {
  display: inline-block;
  margin: 5px;
  font-size: 14px;
  padding: 15px;
}
.big-box {
  width: 350px;
  height: 200px;
}
.small-box {
  width: 200px;
  height: 200px;
}

.box-1 {
  background-color: #fe5349;
}

.box-2 {
  background-color: #0c8871;
}

.box-3 {
  background-color: #b601ff;
}

.box-4 {
  background-color: #0dc1fd;
}

.box-5 {
  background-color: #08ca80;
}

.box-6 {
  background-color: #01f361;
}

.box-7 {
  background-color: #e8ff1d;
}

.box-8 {
  background-color: #fe7405;
}

.box-9 {
  background-color: #e52f2d;
}
